<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="img/favicon.ico"> 
	<link rel="stylesheet" href="css/vendor/fluidbox.min.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">

	<title>Local Feed</title>

</head>
<body>


	<header>
		<div id="logo-container" style="margin-left:30%">
			<div id="logo"><a href="">INOUT HACK APP</a></div>
			<div style="margin-left:20%" id="subtitle">Your local information</div>
		</div>
	</header>
	<br /> <br />

	<div id="content">
		<div class="row">
		<div class="col-md-6"> <!--local news feed will appear here-->
		<section class="intro">
			<h3>Hello, <span class="nl"></span>we are here to help you.</h3> <br />
			<div id="feedButton" style="background: whitesmoke; padding: 25px;border: 0;
			            border-radius: 36px;
			  			color: black;
					    cursor: pointer;
					    display: inline-block;
					    font-size: 18px;
					    padding: 12px 45px;
			  			text-align: center;">
			  			Get my local Feed		
			</div>
		
		<section id = "stories" class="row">
			<div class="col-full">
				<h2>SHARE</h2>
				<p>
					This is the place where you would share what's happenning around you. Put the subject of the 
					new on the title section. Share your thoughts on the section below the title. Press submit to share what you have seen!
				</p>
			</div>
		</section>

		</section>
		</div>

		<!-- In this section, user will share his story-->
		<div id="logo-container">
			<div id="logo"  style="margin-left:50%"><h3>Share your story</h3></div>
		</div>
		<div class="col-md-6">
		<section class="row">
			<div class="col-full">
				<div id="text">Title</div> <br />
				<input type="text" name="text" /><br /><br />
				<div id="text">Share</div> <br />
				<textarea></textarea>

				<br /><br />
				<div id="text">Submit</div> <br /> <input type="submit" name="submit" /> 
			</div>
		</section>	
		<!-- Form ends here-->


			
		</div>
		</div>

		
		<!-- This is for row wise-->
		<div id="distressButton" style="margin-left:35%; background: whitesmoke; padding: 25px;border: 0;
			            border-radius: 36px;
			  			color: black;
					    cursor: pointer;
					    display: inline-block;
					    font-size: 18px;
					    padding: 12px 45px;
			  			text-align: center;">
			  			Generate a Distress call
			</div>

		<section class="row">
			<div class="photo-grid">
				<a href="img/example-photo-b.jpg" rel="lightbox" class="col-2"><img src="img/example-photo-b.jpg" alt="Example photo"></a>
				<a href="img/example-photo-c.jpg" rel="lightbox" class="col-2"><img src="img/example-photo-c.jpg" alt="Example photo"></a>
				<a href="img/example-photo-a.jpg" rel="lightbox" class="col-1"><img src="img/example-photo-a.jpg" alt="Example photo"></a>
			</div>
		</section>


		<section class="row">
			<div class="col">
				<h2>Contact</h2>
				<p>
					Mail us at<a href="#"> email</a>.
				</p>
			</div>
			<div class="col">
				<h2>Follow us</h2>
				<p>
					We are on <a href="#">Twitter</a>, <a href="#">Facebook</a> and <a href="#">Instagram</a>.
				</p>
			</div>
		</section>


		<section class="row">
			<div class="col-full">
				<p>
					Developed for In/Out hackathon.
					<a href="#">INOUT</a>
				</p>
			</div>
		</section>
 
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script>
	if (!window.jQuery) 
	{
	    document.write('<script src="js/vendor/jquery.1.11.min.js"><\/script>');
	}
	</script>

	<script src="js/vendor/jquery.fluidbox.min.js"></script>
	<script src="js/main.js"></script>

	
</body>
</html>

